* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header Properties*/

h1 {
    font-size: 48px;
}

header {
    padding: 20px;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.seo {
    color: #d9dcd6;
}

nav {
    float: right;
    padding-top: 15px;
    margin-right: 20px;
}

li {
    margin-left: 26px;
    display: inline-block;
}

a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* Body Properties */

body {
    background-color: #d9dcd6;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

.meeting{
    height: 800px;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.content {
    position: relative;    
    left: 20px;
    display: inline-block;
    width: 75%;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.content h2 {  
    font-size: 36px;
    margin-bottom: 20px;
}

.content img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    float: right;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits p {
    margin-bottom: 32px;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer Properties */

footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

footer h2 {
    font-size: 20px;
}